<ul class="nav flex-column nav-pills">
  <div *ngIf="true">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pipes" routerLinkActive="active"
        >Pipes</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/change-detection"
        routerLinkActive="active"
        >Change Detection</a
      >
    </li>
  </div>
</ul>
